/* @media only screen and (min-width: 1200px) and (max-width: 1366px) {
  .contest-detail-card-container {
    position: relative;
    display: flex;
    width: 942px;
    height: 449px;
    radius: 16px;
  }

 
} */

.contest-detail-card-container {
  position: relative;
  display: flex;
  width: 50.875rem;
  min-height: 28.0625rem;
}

.contest-detail-details-container {
  display: flex;
  flex-direction: column;
  padding: 4.875rem 0 0 0;
  width: 19.75rem;
}

.contest-detail-badge {
  display: inline;
  /* position: absolute;
  top: 3.875rem;
  left:20rem; */
  /* margin-left: 8px; */
  /* margin-right: 0.78rem; */
}

.contest-detail-cash-rewards-container {
  margin-top: 2rem;
  align-self: center;
}

.contest-details-section1 {
  margin: 5.125rem 0 2rem 0;
  padding-left: 1.96875rem;
  width: 15.9375rem;
  max-width: 15.9375rem;
  border-left: 0.0625rem solid #aab0cb;
}

.contest-details-section2 {
  margin: 5.125rem 0 0 4.8125rem;
  width: 14.5625rem;
}

.contest-details-detail-container {
  display: flex;
  align-items: center;
  min-height: 2rem;
  margin-top: 1rem;
}

.contest-details-detail-text {
  font-size: 1rem;
  line-height: 1.375rem;
  margin-left: 1rem;
  word-break: break-word;
}

.contest-detail-icons-wrapper {
  position: relative;
}

.contest-detail-icons-container {
  position: absolute;
  top: 1.625rem;
  right: 1.625rem;
}

.contest-details-card-button {
  margin-top: 1.875rem !important;
  margin-bottom: 1.5rem !important;
  margin-left: 3.75rem !important;
  width: 12.6875rem;
}

.contest-detail-icons {
  display: flex;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

.contest-detail-tag-image {
 
  margin-right: 0.78rem;
}

.editcontest-button {
  margin-bottom: 1.5rem !important;
  margin-left: 3.75rem !important;
  width: 12.6875rem !important;
}
