.cash-reward-container {
    display: flex;
  }
  
  .cash-reward-content {
    /* margin-left: 0.75rem;
    font-size: 1rem; */
    /* line-height: 1.375rem; */
  }
  
  .cash-reward-amount {
    /* font-weight: bold;
    font-size: 1.375rem;
    line-height: 1.875rem;
    color: #0f172a; */
  }
  .contest-status-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 3px;  }
  .contest-status-data-container{
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .contest-status-data-field-name-container{
    height: 40%;
    justify-content: center;
    text-align: center;
    color: #626880;
  }
  